<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.lmd.server.user.dao.TUserMapper">
  <resultMap id="BaseResultMap" type="com.sh.lmd.entity.TUser">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="realName" jdbcType="VARCHAR" property="realName" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="idCard" jdbcType="VARCHAR" property="idCard" />
    <result column="adressId" jdbcType="INTEGER" property="adressId" />
    <result column="vip" jdbcType="INTEGER" property="vip" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <insert id="insert" parameterType="com.sh.lmd.entity.TUser">
    insert into t_user (userName, phone,
      email, realName, img,
      status, idCard, adressId,
      vip, integral, password,
      city)
    values (#{userName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, #{adressId,jdbcType=INTEGER},
      #{vip,jdbcType=INTEGER}, #{integral,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR})
  </insert>
  <select id="all" resultType="com.sh.lmd.entity.TUser">
    select * from t_user;
  </select>
</mapper>